@model Q.EntidadesNegocio.EN.PersonaQ

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonaQ</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombreq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombreq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidoq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidoq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechadeNacimientoq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechadeNacimientoq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sueldoq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sueldoq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatusq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatusq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarioq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarioq)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
